<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_9"
         version="2.4"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>proxyServlet</servlet-name>
        <servlet-class>org.eclipse.jetty.servlets.ProxyServlet$Transparent</servlet-class>
        <init-param>
            <param-name>ProxyTo</param-name>
            <param-value>http://www.baidu.com</param-value>
        </init-param>
        <init-param>
            <param-name>Prefix</param-name>
            <param-value>/JettyProxySample/google</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--<servlet>-->
    <!--<servlet-name>myP</servlet-name>-->
    <!--<servlet-class>myProxy.MyServletet</servlet-class>-->
    <!--</servlet>-->

    <servlet-mapping>
        <servlet-name>proxyServlet</servlet-name>
        <url-pattern>/google/*</url-pattern>
    </servlet-mapping>

    <!--<servlet-mapping>-->
    <!--<servlet-name>myP</servlet-name>-->
    <!--<url-pattern>/myP/*</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>
